{
    "plugins": [
        "node",
        "promise"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "env": {
        "node": true,
        "mocha": true,
        "jest": true
    },
    "settings": {
        "node": {
            "allowModules": [
                "aws-sdk"
            ]
        }
    },
    "rules": {
        "no-unused-vars": [2, { "argsIgnorePattern": "^_" }],
        "no-console": 0,
        "no-process-exit": 0,
        "node/no-unsupported-features": [
            2,
            {
                "version": 6
            }
        ],
        "promise/param-names": 2,
        "promise/catch-or-return": 2,
        "promise/no-native": 0,
        "node/no-unpublished-require": [
            "error",
            {
                "allowModules": [
                    "aws-sdk",
                    "@a-cloud-guru/mock-firebase"
                ]
            }
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "only-multiline",
                "objects": "only-multiline"
            }
        ]
    }
}
