env:
  es6: true
  node: true
  jest: true

extends:
  - airbnb-base
  - prettier
  - plugin:import/errors
  - plugin:import/warnings

globals:
  Atomics: readonly
  SharedArrayBuffer: readonly

parserOptions:
  ecmaVersion: 2018
  sourceType: module

plugins:
  - prettier
  - jest

rules: {
  "prettier/prettier": "error",
  "import/prefer-default-export": 0,
  "no-restricted-imports": ["error"]
}
